<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% contacts = current_user.contacts_A + current_user.contacts_B %>
<% contacts.each_with_index do |contact, index| %>
    <tr>
    <br>
      <td><%= contact.email %></td>
      <td>
        <br><%= link_to "hello", up_box_path(id: contact.id), remote: true, class: "startchat" %><br>
      </td>
    </tr>
<% end %>
