$dpurple: rgb(73, 36, 89);
$lpurple: rgb(147, 39, 143);
$fpurple: rgb(234, 173, 234);
$dblue: rgb(31, 147, 183);
$lblue: rgb(155, 219, 232);
$dgreen: rgb(140, 198, 63);
$lgreen: rgb(217, 224, 33);
$dred: rgb(216, 1, 21);
$lred: rgb(255, 45, 0);
$dpink: rgb(213, 41, 87);
$lpink: rgb(255, 123, 172);
$dorange: rgb(241, 90, 36);
$lorange: rgb(251, 176, 59);
$dgrey: rgb(169, 146, 163);
$mgrey: rgb(204, 180, 195);
$lgrey: rgb(244, 240, 242);
$bkg: rgb(242, 242, 242);